<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.1/phpunit.xsd"
	bootstrap="../../vendor/autoload.php"
	verbose="true"
	columns="60"
	>

	<testsuites>

		<testsuite name="all">
			<directory suffix="Test.php">..</directory>
			<directory suffix="Test.php">../Api</directory>
			<directory suffix="Test.php">../Api/Method</directory>
			<exclude>../_tmp</exclude>
			<exclude>../_composer</exclude>
		</testsuite>

		<testsuite name="methods">
			<directory suffix="Test.php">../Api/Method</directory>
			<exclude>../Api/Method/MethodTest.php</exclude>
		</testsuite>

    </testsuites>

	<filter>
		<whitelist 
		>
			<directory suffix=".php">../../src/</directory>
			<exclude>
				<directory>../../src/.badges</directory>
				<file>../../src/Transport/CurlRequest.php</file>
				<file>../../src/Api/Method/getFilmComments~.php</file>
				<file>../../src/Api/Method/getFilmsNearestBroadcasts~.php</file>
			</exclude>
		</whitelist>
	</filter>

</phpunit>
